/* 
    Created on : Oct 25, 2016, 4:22:30 PM
    Copyright © 2016 Wes Upham and Sarah Hennenkamp
*/
.main{
    border-color: blue;
    border-style: solid;
    border-top-width: .2em;
    border-left-width: .2em;
    border-right-width: .2em;
    border-bottom-width: 0em;
    padding-bottom: 2em;
}
.main form {
    text-align: center;
}

.main p {
    margin-left: 5em;
}

label {
    display: inline-block;
    width: 10em;
    text-align: right;
    padding: .2em;
}

input {
    display: inline-block;
    text-align: left;
}

.button {
    background-color: grey;
    color: black;
    margin-right: 6.5em;
}

.main h1 {
    color: navy;
    text-align: left;
    margin-left: 2.5em;
}

#footer {
    border-color: blue;
    border-style: solid;
    border-top-width: .2em;
    padding-right: .5em;
}

#footer p {
    text-align: left;
    margin-left: 5em;
}