/* 
    Created on : Oct 25, 2016, 4:22:30 PM
    Copyright © 2016 Wes Upham and Sarah Hennenkamp
*/
.main {
    border-color: blue;
    border-style: solid;
    border-width: .2em;
    text-align: center;
}
form {
    margin: auto;
}

label {
    display: inline-block;
    width: 10em;
    text-align: right;
    padding: .2em;
}

input {
    display: inline-block;
    text-align: left;
}

.button {
    background-color: grey;
    color: black;
}

h1 {
    color: blue;
}

#footer {
    border-color: blue;
    border-style: solid;
    border-width: .2em;
    padding-right: .5em;
    text-align: left;
}

#footer.p {
    padding-left: .5em;
}